/* line 5, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-primary {
  background-color: #007bff;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-primary-dark {
  background-color: #0056b3;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-primary-light {
  background-color: #4da3ff;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-secondary {
  background-color: #6c757d;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-secondary-dark {
  background-color: #494f54;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-secondary-light {
  background-color: #939ba2;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-success {
  background-color: #28a745;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-success-dark {
  background-color: #19692c;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-success-light {
  background-color: #48d368;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-danger {
  background-color: #dc3545;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-danger-dark {
  background-color: #a71d2a;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-danger-light {
  background-color: #e77681;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-warning {
  background-color: #ffc107;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-warning-dark {
  background-color: #ba8b00;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-warning-light {
  background-color: #ffd454;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-info {
  background-color: #17a2b8;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-info-dark {
  background-color: #0f6674;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-info-light {
  background-color: #36cee6;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-light {
  background-color: #f8f9fa;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-light-dark {
  background-color: #cbd3da;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-light-light {
  background-color: white;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-dark {
  background-color: #343a40;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-dark-dark {
  background-color: #121416;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-dark-light {
  background-color: #56606a;
}

/* line 3, ../sass/mixins/_color.scss */
.bg-whites {
  background-color: #fff;
}

/* line 6, ../sass/mixins/_color.scss */
.bg-whites-dark {
  background-color: #d9d9d9;
}

/* line 9, ../sass/mixins/_color.scss */
.bg-whites-light {
  background-color: white;
}

/* line 16, ../sass/mixins/_color.scss */
.text-primary {
  color: #007bff;
}

/* line 19, ../sass/mixins/_color.scss */
.text-primary-dark {
  color: #0056b3;
}

/* line 22, ../sass/mixins/_color.scss */
.text-primary-light {
  color: #4da3ff;
}

/* line 16, ../sass/mixins/_color.scss */
.text-secondary {
  color: #6c757d;
}

/* line 19, ../sass/mixins/_color.scss */
.text-secondary-dark {
  color: #494f54;
}

/* line 22, ../sass/mixins/_color.scss */
.text-secondary-light {
  color: #939ba2;
}

/* line 16, ../sass/mixins/_color.scss */
.text-success {
  color: #28a745;
}

/* line 19, ../sass/mixins/_color.scss */
.text-success-dark {
  color: #19692c;
}

/* line 22, ../sass/mixins/_color.scss */
.text-success-light {
  color: #48d368;
}

/* line 16, ../sass/mixins/_color.scss */
.text-danger {
  color: #dc3545;
}

/* line 19, ../sass/mixins/_color.scss */
.text-danger-dark {
  color: #a71d2a;
}

/* line 22, ../sass/mixins/_color.scss */
.text-danger-light {
  color: #e77681;
}

/* line 16, ../sass/mixins/_color.scss */
.text-warning {
  color: #ffc107;
}

/* line 19, ../sass/mixins/_color.scss */
.text-warning-dark {
  color: #ba8b00;
}

/* line 22, ../sass/mixins/_color.scss */
.text-warning-light {
  color: #ffd454;
}

/* line 16, ../sass/mixins/_color.scss */
.text-info {
  color: #17a2b8;
}

/* line 19, ../sass/mixins/_color.scss */
.text-info-dark {
  color: #0f6674;
}

/* line 22, ../sass/mixins/_color.scss */
.text-info-light {
  color: #36cee6;
}

/* line 16, ../sass/mixins/_color.scss */
.text-light {
  color: #f8f9fa;
}

/* line 19, ../sass/mixins/_color.scss */
.text-light-dark {
  color: #cbd3da;
}

/* line 22, ../sass/mixins/_color.scss */
.text-light-light {
  color: white;
}

/* line 16, ../sass/mixins/_color.scss */
.text-dark {
  color: #343a40;
}

/* line 19, ../sass/mixins/_color.scss */
.text-dark-dark {
  color: #121416;
}

/* line 22, ../sass/mixins/_color.scss */
.text-dark-light {
  color: #56606a;
}

/* line 16, ../sass/mixins/_color.scss */
.text-whites {
  color: #fff;
}

/* line 19, ../sass/mixins/_color.scss */
.text-whites-dark {
  color: #d9d9d9;
}

/* line 22, ../sass/mixins/_color.scss */
.text-whites-light {
  color: white;
}

/* line 1, ../sass/_layout.scss */
.container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 320px) {
  /* line 4, ../sass/mixins/_grid.scss */
  .container.grid-xs {
    width: 320px;
  }
}
@media (min-width: 576px) {
  /* line 4, ../sass/mixins/_grid.scss */
  .container.grid-sm {
    width: 576px;
  }
}
@media (min-width: 768px) {
  /* line 4, ../sass/mixins/_grid.scss */
  .container.grid-md {
    width: 768px;
  }
}
@media (min-width: 992px) {
  /* line 4, ../sass/mixins/_grid.scss */
  .container.grid-lg {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  /* line 4, ../sass/mixins/_grid.scss */
  .container.grid-xl {
    width: 1200px;
  }
}

/* line 19, ../sass/mixins/_grid.scss */
.col-1 {
  width: 8.33333%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-2 {
  width: 16.66667%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-3 {
  width: 25%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-4 {
  width: 33.33333%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-5 {
  width: 41.66667%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-7 {
  width: 58.33333%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-8 {
  width: 66.66667%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-9 {
  width: 75%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-10 {
  width: 83.33333%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-11 {
  width: 91.66667%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

/* line 19, ../sass/mixins/_grid.scss */
.col-12 {
  width: 100%;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  /* line 9, ../sass/_layout.scss */
  .media {
    width: 320px;
  }
}
@media screen and (min-width: 576px) {
  /* line 9, ../sass/_layout.scss */
  .media {
    width: 576px;
  }
}
@media screen and (min-width: 768px) {
  /* line 9, ../sass/_layout.scss */
  .media {
    width: 768px;
  }
}
@media screen and (min-width: 992px) {
  /* line 9, ../sass/_layout.scss */
  .media {
    width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 9, ../sass/_layout.scss */
  .media {
    width: 1200px;
  }
}

@media screen and (min-width: 320px) {
  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-1 {
    width: 8.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-2 {
    width: 16.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-4 {
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-5 {
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-7 {
    width: 58.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-8 {
    width: 66.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-9 {
    width: 75%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-10 {
    width: 83.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-11 {
    width: 91.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xs-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 576px) {
  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-1 {
    width: 8.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-2 {
    width: 16.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-4 {
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-5 {
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-7 {
    width: 58.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-8 {
    width: 66.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-9 {
    width: 75%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-10 {
    width: 83.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-11 {
    width: 91.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-sm-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) {
  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-1 {
    width: 8.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-2 {
    width: 16.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-4 {
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-5 {
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-7 {
    width: 58.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-8 {
    width: 66.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-9 {
    width: 75%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-10 {
    width: 83.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-11 {
    width: 91.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-md-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 992px) {
  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-1 {
    width: 8.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-2 {
    width: 16.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-4 {
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-5 {
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-7 {
    width: 58.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-8 {
    width: 66.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-9 {
    width: 75%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-10 {
    width: 83.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-11 {
    width: 91.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-lg-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1200px) {
  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-1 {
    width: 8.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-2 {
    width: 16.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-4 {
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-5 {
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-7 {
    width: 58.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-8 {
    width: 66.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-9 {
    width: 75%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-10 {
    width: 83.33333%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-11 {
    width: 91.66667%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }

  /* line 32, ../sass/mixins/_grid.scss */
  .col-xl-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
  }
}
/* line 1, ../sass/_button.scss */
.btn {
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.42858;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-primary {
  color: #fff;
  background-color: #007bff;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-primary:hover, .btn.bg-primary:focus, .btn.bg-primary:active {
  background-color: #0062cc;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-secondary {
  color: #fff;
  background-color: #6c757d;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-secondary:hover, .btn.bg-secondary:focus, .btn.bg-secondary:active {
  background-color: #545b62;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-success {
  color: #fff;
  background-color: #28a745;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-success:hover, .btn.bg-success:focus, .btn.bg-success:active {
  background-color: #1e7e34;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-danger {
  color: #fff;
  background-color: #dc3545;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-danger:hover, .btn.bg-danger:focus, .btn.bg-danger:active {
  background-color: #bd2130;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-warning {
  color: #fff;
  background-color: #ffc107;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-warning:hover, .btn.bg-warning:focus, .btn.bg-warning:active {
  background-color: #d39e00;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-info {
  color: #fff;
  background-color: #17a2b8;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-info:hover, .btn.bg-info:focus, .btn.bg-info:active {
  background-color: #117a8b;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-light {
  color: #fff;
  background-color: #f8f9fa;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-light:hover, .btn.bg-light:focus, .btn.bg-light:active {
  background-color: #dae0e5;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-dark {
  color: #fff;
  background-color: #343a40;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-dark:hover, .btn.bg-dark:focus, .btn.bg-dark:active {
  background-color: #1d2124;
}
/* line 3, ../sass/mixins/_button.scss */
.btn.bg-whites {
  color: #fff;
  background-color: #fff;
}
/* line 6, ../sass/mixins/_button.scss */
.btn.bg-whites:hover, .btn.bg-whites:focus, .btn.bg-whites:active {
  background-color: #e6e6e6;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-primary {
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-primary:hover, .btn.ol-primary:focus, .btn.ol-primary:active {
  color: #fff;
  background-color: #007bff;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-secondary {
  color: #6c757d;
  border-color: #6c757d;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-secondary:hover, .btn.ol-secondary:focus, .btn.ol-secondary:active {
  color: #fff;
  background-color: #6c757d;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-success {
  color: #28a745;
  border-color: #28a745;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-success:hover, .btn.ol-success:focus, .btn.ol-success:active {
  color: #fff;
  background-color: #28a745;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-danger {
  color: #dc3545;
  border-color: #dc3545;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-danger:hover, .btn.ol-danger:focus, .btn.ol-danger:active {
  color: #fff;
  background-color: #dc3545;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-warning {
  color: #ffc107;
  border-color: #ffc107;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-warning:hover, .btn.ol-warning:focus, .btn.ol-warning:active {
  color: #fff;
  background-color: #ffc107;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-info {
  color: #17a2b8;
  border-color: #17a2b8;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-info:hover, .btn.ol-info:focus, .btn.ol-info:active {
  color: #fff;
  background-color: #17a2b8;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-light:hover, .btn.ol-light:focus, .btn.ol-light:active {
  color: #fff;
  background-color: #f8f9fa;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-dark {
  color: #343a40;
  border-color: #343a40;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-dark:hover, .btn.ol-dark:focus, .btn.ol-dark:active {
  color: #fff;
  background-color: #343a40;
}
/* line 16, ../sass/mixins/_button.scss */
.btn.ol-whites {
  color: #fff;
  border-color: #fff;
  background-color: #fff;
}
/* line 20, ../sass/mixins/_button.scss */
.btn.ol-whites:hover, .btn.ol-whites:focus, .btn.ol-whites:active {
  color: #fff;
  background-color: #fff;
}
